body{
    background-image: linear-gradient(90deg,white,#2eacd4);
    font-family: 'Times New Roman', Times, serif;
}

#paraFunc{
    color: rgb(88, 26, 102);
}

#paraFunc2{
    color: rgb(247, 84, 250);
    

}

#countdownStatus{
    color:red;
    size: 25px;
    font-style: normal;
}

#data{
    background-image: linear-gradient(180deg,white, lightblue);

}

.button{
    width: 125px;
    height: 25px;
    background-color: white;
    border-radius: 8px;
    border-color: skyblue;
}

.lgButton{
    width: 175px;
    height: 25px;
    background-color: white;
    border-radius: 8px;
    border-color: skyblue;
}

h4{
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
